body {
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 10%;
    margin-left: 10%;
    border: solid;

}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 36px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 28px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

h5 {

}

section{
    width:100%;
}

.captionPreviews{
    display: flex;
    width: 800px;
}

.caption{
    width: 500px;
}

.previews{
    flex-grow: 1;
}

.selected {
    width: 800px;
    height: 500px;
}

.preview{
    width: 150px;
    height: 100px;
}

.article{
    display: flex;
    width:1000px;
}

.words{
    width: 650px;
}

.video{
    flex-grow: 1;
}