body {
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 10%;
    margin-left: 10%;


}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 36px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 28px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: rgb(208, 211, 212);
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

section{
    padding: 10px;
    width:100%;
    border: solid;
}

.gallery{
    width: 80%;
    margin: 10px;
}

.captionPreviews{
    display: flex;
    width: 100%;
}

.caption{
    width: 50%;
}

.previews{
    flex-grow: 1;
}

.selected {
    width: 100%;
}

.preview{
    cursor: pointer;
    width: 100px;
    height: 80px;
}

.article{
    width:100%;
}

.video{
    float: right;
    width: 40%;
    margin: 10px;
    border-bottom: solid;
}

.tiles{
    background-color: rgb(208, 211, 212);
    padding: 20px;
    overflow: auto;
}

.tile{
    float: left;
    background-color: white;
    width: 40%;
    margin: 20px;
    padding: 10px;
}

.tileImage{
    width:100%;
}

.load{
    width: 100%;
    text-align: center;
    clear: both;
}

button{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-color: transparent;
    border: solid darkgray;
    cursor: pointer;

}